*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.hero_container{
    height: 71vh;
    width: 100%;
    background-color: aquamarine;
}

.logo{
    color:black;
}

nav{
    
    position:relative;
    width: 1200px;
    height: 10vh;
    margin:0 auto;
    background-color: blue;
}

.menu li{
    display:inline-block;
    list-style: none;
}

.menu li a{
    padding:20px;
    text-decoration: none;
}

.menu{
    position:absolute;
    bottom:0;
    right:10%;
    top:50%;
    transform: translate(-50%, -5%);
    
}